# Ignore the build dir
build

# Ignore any executables
bin/*

# Ignore third-party components (for now)
util

# Ignore example data
data

# Ignore data output files
*.log
*.dot
*.png
*.fa
*.fai
*.fq
*.sam
*.aln
*.vcf
*.bed
