[submodule "include/gitversion"]
	path = include/gitversion
	url = https://github.com/smessmer/gitversion
[submodule "include/yaml-cpp"]
	path = include/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
