# Ignore the build, include and lib dirs
build
include/*
lib/*

# Ignore any executables
bin/*

# Ignore example data
data

# Ignore intermediate output files
*.log
*.dot
*.png
*.fa
*.fq
*.sam
*.aln
*.vcf
